

<div *ngIf="actualStat$ | async as result">
<div *ngIf="result.authenticateStat==AuthenticationEnum.UNSIGNED||result.authenticateStat==AuthenticationEnum.SIGNING_ERROR"  >
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fa-th-large" >
    <div class="container-fluid"></div>

  </nav>
   <div class="row" >
    <div clas class="col-sm-3 "> </div>
       <div clas class="col-sm-3" >
         <div class="mt-1 p-1  text-danger " *ngIf="result.authenticateStat==AuthenticationEnum.SIGNING_ERROR">
           <h6> {{result.errorMessage}} :</h6>
         </div>
         <div class="mt-1 p-1 bg-primary text-white ">
           <h2> Authentification :</h2>
         </div>
         <form class="form-control border-dark align-self-center" [formGroup]="userFormGroup">
            <div class="mb-3 mt-3">
                 <label  class="form-label"> Utilisateur :</label>
                 <input type="text" class="form-control"  formControlName="userName"  placeholder="Saisez votre nom d'utilisateur">
            </div>

           <div class="mb-3 mt-3">
                 <label  class="form-label"> Mot de passe  :</label>
                 <input type="password" class="form-control"  formControlName="password"   placeholder="Saisez votre mot de passe ">
           </div>
           <div class="d-lg-inline">
           <button type="submit" class="btn btn-primary m-lg-2"  (click)="OnLogin(userFormGroup.value)" >S'authentifier </button>

           </div>
         </form>
       </div>

    <div clas class="col-sm-3"></div>

  </div>
</div>
<app-nav-bar *ngIf="result.authenticateStat==AuthenticationEnum.SIGNED"></app-nav-bar>
<router-outlet *ngIf="result.authenticateStat==AuthenticationEnum.SIGNED"></router-outlet>

</div>




